<!DOCTYPE html>
<html>
<head>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css'>
  <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
  <title>Address List</title>
</head>
<body>
  <div class="container">
    <h1>Address List</h1>
    <ul>
      <li></li>
    </ul>
        <a href="/addContact">Add Another Contact!</a>
    </div>
  </body>
</html>
