<!DOCTYPE html>
<html>
<head>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css'>
  <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
  <title>Address List</title>
</head>
<body>
  <div class="container">
    <div class="jumbotron">
    <h1  class="center">Address List</h1>
</div>
<div class="card">
  <div class="card-body">
    <ul>
      @if (Model != null)
    {
    @foreach (var contact in Model)
    {
      <li><h4><strong><em>@contact.GetContactName()</em></strong></h4> <ul><li><strong>Address:</strong>  @contact.GetContactAddress()</li><li><strong>Phone Number:</strong> @contact.GetContactPhoneNumber()</li></ul>
      </li>
    }
  }
    </ul>
    <a class="btn" role="button" href="/addContact">Add Another Contact!</a> |
    <a class="btn" role="button" href="/">Go to Home Page!</a>
    
  </div>
  <div class="card-footer">
        <form action="/addresslist/delete" method="post">
<button class="clear" type="submit" name="button">Clear All Contacts</button>
</form>
</div>
</div>
    </div>
  </body>
</html>
