<!DOCTYPE html>
<html>
<head>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css'>
  <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
  <title>Delete Address Book</title>
</head>
<body>
  <div class="container">
    <div class="jumbotron">
    <h1 class="center">You have successfully deleted all of your contacts!</h1>
</div>
<div class="card-group">
<div class="card">
  <div class="card-body">
      <h3 class="card-text center">If you you would like to add a new contact <a href="/addcontact">Click Here</a>.</h3>
</div>

      <img class="card-img-bottom" src='~/img/pens.jpeg'/>
</div>
<div class="card">
  <div class="card-body">
  <h4 class="card-text center">If you would like to see your empty address book <a href="/addresslist">Click Here</a>.</h4>
</div>
    <img class="card-img-bottom" src='~/img/book.jpeg'/>
</div>
</div>
    </div>
  </body>
</html>
