<!DOCTYPE html>
<html>
<head>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css'>
  <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
  <title>Delete Address Book</title>
</head>
<body>
  <div class="container">
    <h1>You have successfully deleted all of your contacts</h1>
      <h3>If you you would like to add a new contact <a href="/addcontact">Click Here</a>.</h3>

      <h4>If you would like to see your empty address book <a href="/addresslist">Click Here</a>.</h4>

    </div>
  </body>
</html>
