<!DOCTYPE html>
<html>
<head>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css'>
  <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
  <title>Address Book</title>
</head>
<body>
  <div class="container">
    <div class = "jumbotron">
    <h1 class="center">Welcome to your Address Book</h1>
  </div>
  <div class="card-group">
  <div class="card">
    <img class="card-img-top" src='~/img/pens.jpeg' >
    <div class="card-body">
      <h5 class="card-title">Add Contact</h5>
      <p class="card-text">If you are a first time user and have not added a contact before please <a href="/addcontact">Click Here</a>.</p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Address Book</h5>
      <p class="card-text">If you are a returning user and would like to view your contact list, <a href="/addresslist">Click Here</a>.</p>
    </div>
    <img class="card-img-bottom" src='~/img/book.jpeg' >

  </div>
</div>
  </div>
</body>
</html>
